@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    width: 100%;
    height: 10%;
}

.header {
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.23);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.sobre-nos {
    text-decoration: none;
    color: #000000;
    transition: color 0.15s,
    opacity 0.15s;
    font-size: 15px;
}

.sobre-nos:hover {
    cursor: pointer;
    color: #ffb800;
}

.mywallet {
    text-decoration: none;
    color: #000000;
    transition: color 0.15s, opacity 0.15s;
    font-size: 15px;
}

.mywallet:hover {
    cursor: pointer;
    color: #ffb800;
}

.mywallet:active {
    opacity: 0.7;
}

.mytransport {
    text-decoration: none;
    color: #000000;
    transition: color 0.15s,
    opacity 0.15s;
    font-size: 15px;
}

.mytransport:hover {
    cursor: pointer;
    color: #ffb800;
}

.mywallet:active {
    opacity: 0.7;
}

.myaccount {
    text-decoration: none;
    color: #ffb800;
    transition: color 0.15s, opacity 0.15s;
    font-size: 15px;
    font-weight: 600;
}

.myaccount:hover {
    cursor: pointer;
    color: #ffb800;
}

.myaccount:active {
    opacity: 0.7;
}

.left-section {
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.right-section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    gap: 15px;
}

.conteudo {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
    justify-content: center;
}

.registo-myaccount {
    background-color: white;
    margin-left: 2%;
    margin-right: 1%;
    border-radius: 2%;
    width: 45%;
    height: 585px;
    margin-top: 20px;
}

.titulo-registo {
    font-size: 98%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 6.5%;
    margin-left: 6%;
    text-align: left;
}

.nome {
    display: block;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
    margin-left: 6.5%;
    width: 85.5%;
    background-color: white;
    border-color: black;
}

.email {
    display: block;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    margin-left: 6.5%;
    width: 85.5%;
    background-color: white;
    border-color: black;
}

.telemovel {
    display: block;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    margin-left: 6.5%;
    width: 85.5%;
    background-color: white;
    border-color: black;
}

.password {
    display: block;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    margin-left: 6.5%;
    width: 85.5%;
    background-color: white;
    border-color: black;
}

.password-requisitos {
    font-size: 60%;
    font-weight: 550;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 3%;
    margin-left: 6.5%;
}

ul {
    list-style-type: disc;
    font-size: 50%;
    text-align: left;
    margin-left: 9%;
}

.criar-conta-butao {
    background-color: #ffb800;
    color: black;
    font-size: 65%;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    height: 55px;
    width: 160px;
    margin-top: 4%;
    margin-right: 65%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    transition: opacity .25s;
}

.criar-conta-butao:hover {
    opacity: 0.86;
}

.criar-conta-butao:active {
    height: 52px;
    width: 157px;
    transition: .3s;
}

.vantagens {
    background-color: white;
    margin-left: 1%; 
    margin-right: 2%;
    border-radius: 2%;
    width: 45%;
    height: 585px;
    margin-top: 20px;
}

.subtitulo-vantagens-1 {
    font-size: 100%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 6.5%;
    text-align: center;
}

.subtitulo-vantagens-2 {
    font-size: 100%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffb800;
    text-align: center;
}

.retangulo-beneficio-1 {
    margin-left: 25%;
}

.hyperlink-1 {
    text-decoration: none;
}

.titulo-beneficio-1 {
    font-size: 75%;
    font-weight: 500;
    background-color: rgba(255, 184, 0, 0.7);
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 1.5%;
    margin-left: 7.5%;
    margin-right: 40%;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.25s;
}

.titulo-beneficio-1:hover {
    opacity: 0.86;
}

.texto-beneficio-1 {
    font-size: 60%;
    text-align: center;
    margin-left: 11%;
    margin-top: 3%;
    width: 80%;
}

.retangulo-beneficio-2 {
    margin-left: 25%;
}

.hyperlink-2 {
    text-decoration: none;
}

.titulo-beneficio-2 {
    font-size: 75%;
    font-weight: 500;
    background-color: rgba(255, 184, 0, 0.7);
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 1.5%;
    margin-left: 7.5%;
    margin-right: 40%;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.25s;
}

.titulo-beneficio-2:hover {
    opacity: 0.86;
}

.texto-beneficio-2 {
    font-size: 60%;
    text-align: center;
    margin-left: 11%;
    margin-top: 3%;
    width: 80%;
}

.retangulo-beneficio-3 {
    margin-left: 25%;
}

.hyperlink-3 {
    text-decoration: none;
}

.titulo-beneficio-3 {
    font-size: 75%;
    font-weight: 500;
    background-color: rgba(255, 184, 0, 0.7);
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 1.5%;
    margin-left: 7.5%;
    margin-right: 40%;
    text-align: center;   
    cursor: pointer;
    transition: opacity 0.25s;
}

.titulo-beneficio-3:hover {
    opacity: 0.86;
}

.texto-beneficio-3 {
    font-size: 60%;
    text-align: center;
    margin-left: 11%;
    margin-top: 3%;
    width: 80%;
}

.rodape {
    color: #ffb800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.rodapeleft {
    justify-content: left;
    font-size: 15px;
    padding-left: 20px;
}

.rodaperight {
    text-align: center; 
    font-size: 15px;
    padding-right: 20px;
}

.rodape2:hover {
    cursor: pointer;
}

.contacts {
    display: block;
    text-decoration: none;
    color: #ffb800;
    font-size: 15px;
}

.contacts:active {
    opacity: 0.7;
}

.FAQ {
    display: block;
    color: #ffb800;
    font-size: 15px;
}