@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

.content {
    margin-top: 67px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 20px;
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
}

.header {
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.23);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.sobre-nos {
    text-decoration: none;
    color: #000000;
    transition: color 0.15s,
    opacity 0.15s;
    font-size: 15px;
}

.sobre-nos:hover {
    cursor: pointer;
    color: #ffb800;
}

.mywallet {
    text-decoration: none;
    color: #000000;
    transition: color 0.15s, opacity 0.15s;
    font-size: 15px;
}

.mywallet:hover {
    cursor: pointer;
    color: #ffb800;
}

.mywallet:active {
    opacity: 0.7;
}

.mytransport {
    text-decoration: none;
    color: #ffb800;
    transition: color 0.15s,
    opacity 0.15s;
    font-size: 15px;
    font-weight: 600;
}

.mytransport:hover {
    cursor: pointer;
    color: #ffb800;
}

.mywallet:active {
    opacity: 0.7;
}

.myaccount {
    text-decoration: none;
    color: #000000;
    transition: color 0.15s, opacity 0.15s;
    font-size: 15px;
}

.myaccount:hover {
    cursor: pointer;
    color: #ffb800;
}

.myaccount:active {
    opacity: 0.7;
}

.left-section {
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.right-section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
}

.checkbox {
    width: 100%;
    margin-bottom: 30px;
}

.titulo-checkbox-resto {
    color: #ffb800;
    font-size: 18px;
}

.partida {
    margin-bottom: 30px;
}

.chegada {
    margin-bottom: 30px;
}

.caixa-de-texto {
    border-color: #ffb800;
    border-style: solid;
}

.mapa {
    border: solid 20px #ffb800;
    border-radius: 40px;
}

.data {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.mapa iframe{
    border-radius: 20px;
}

.hora {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.tipos-de-trajeto {
    width: 100%;
    margin-bottom: 50px;
}

.botao-pesquisar {
    text-align: center;
}

.pesquisar {
    background-color: #ffb800;
    padding: 10px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    font-size: 20px;
    transition: background-color 0.15s opacity 0.15s;
    text-align: center;
}

.pesquisar-palavra {
    color: #fafafa;
    font-weight: 500;
}

.pesquisar:hover {
    background-color: #ffb700d4;
    cursor: pointer;
}

.pesquisar:active {
    opacity: 0.7;
}


.rodape {
    color: #ffb800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
}

.rodapeleft {
    justify-content: left;
    font-size: 15px;
    padding-left: 20px;
}

.rodaperight {
    text-align: center; 
    font-size: 15px;
    padding-right: 20px;
}

.rodape2:hover {
    cursor: pointer;
}

.contacts {
    display: block;
    text-decoration: none;
    color: #ffb800;
    font-size: 15px;
}

.contacts:active {
    opacity: 0.7;
}

.FAQ {
    display: block;
    color: #ffb800;
    font-size: 15px;
}